@import '../lib/idangerous.swiper.css'
.swiper-device {
  position relative
  width 100%
  height 640px
  overflow hidden
}
.swiper-device {
  .arrow-group {
    background: url(./icons/arrow.png) no-repeat left top;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 22px;
    height: 44px;
    z-index 10
  }
  .arrow-left {
    left: 10px;
  }
  .arrow-right{
    right: 10px;
    background-position: -41px 0px
  }
}

.swiper-container {
  .swiper-slide{
    position relative
    width 100%
    overflow hidden
  }
  .bg-img{
    position: relative;
    left: 50%;
    margin-left: -1280px;
    height: 640px;
    width: 2560px;
  }
  // height: 300px;
  // width: 640px;
}
.swiper-device{
  .content-slide {
  }
  .title {
  }
  .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:5px;
    width: 100%;
    z-index 50
  }
  .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #999;
    background: rgba(187,187,187, 0.6)
    margin: 0 3px;
    cursor: pointer;
  }
  .swiper-active-switch {
    background #fff
    background: rgba(256, 256, 256, 0.8)
    width 30px
  }
} 