$deepBlack3 = #16181b
$gray1 = #e1e2e3
.header{
  background #32353b
  padding 15px 0px
  .entry-links{
    margin-top 10px
  }
}
.footer{
  background $deepBlack3
  padding 15px
  .wrapper-div{
  }
  .left-f, .right-f{
    display: inline-block
    height 50px
    line-height: 50px
    color #595b5f
  }
}
.index-mod-styl1{
  border-top 1px solid $gray1
  border-bottom 1px solid $gray1
  height 100px
  .list-slide-box{
    margin-top 30px
    img {
      vertical-align: middle
      margin-right 48px
    }
  }
}
.base-mode-panel.panel-item4{
  padding-top 10px
  padding-bottom 100px
}
.base-mode-panel{
  .panel-item2 {
    padding-bottom 80px
  }
}
.panel-item6{
  .subTit2{
    padding-top 100px
  }
}
.panel-item1 {
  .bg-img{
    z-index 3
  }
  .abs-left{
    position absolute
    z-index 5
    top 410px
    left 26px
  }
}